$background: #F4F5F7;
$btn_background: #EAECF0;
$color: #101828;
$footer_color: #667085;

@mixin h1_md_font {
    font-family:Inter, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

@mixin h1_sm_font {
    font-family:Inter, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}

@mixin btn_md_font {
    font-family:Inter, sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 28px;
    font-style: normal;

}

@mixin btn_sm_font {
    font-family:Inter, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    font-style: normal;

}

@mixin footer_md_font {
    font-family:Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

@mixin footer_sm_font {
    font-family:Inter, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}