@use "global.scss" as *;
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  .btn{
    background-color: $btn_background;
    text-decoration: none;
    color: $color;
    @include btn_md_font;
    width: 85%;
    height: 76px;
    margin: auto;
    display: flex;
    // align-items: center;
    border: 1px solid $btn_background;
    flex-direction: row;
    justify-content: center;
    // text-align: center;
    gap: 8px;
    padding: 24px 32px;
    border-radius: 8px;
    margin-bottom: 30px;
    
  }
  .container{
    background-color: $background;
    height: 150vh;
  }
  .bubble{
    display: flex;
    justify-content: center;
    margin-top: 3em;
    // justify-content: space-around;
    
  }
  .icon_md{
    margin-left: 15em;
    // margin-bottom: 5em;
  }
  // .both{
  //   display: flex;
  //   justify-content: space-between;
  // }
  .tweet{
    text-align: center;
    @include h1_md_font;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .slak{
    text-align: center;
    display: none;
  }
  .all_links{
    display: block;
  }
  @media(max-width:600px){
    .tweet{
      text-align: center;
      @include h1_sm_font;
      margin-top: 1em;
      border: solid red;
    }
    .container{
      background-color: $background;
      height: 250vh;
    }
    .btn{
      background-color: $btn_background;
      text-decoration: none;
      color: $color;
      @include btn_sm_font;
      width: 85%;
      height: 76px;
      margin: auto;
      display: flex;
      // align-items: center;
      border: 1px solid $btn_background;
      flex-direction: row;
      justify-content: center;
      // text-align: center;
      gap: 8px;
      padding: 24px 32px;
      border-radius: 8px;
      margin-bottom: 30px;
      
    }
    
  }